<!DOCTYPE html>
<html>
  <head>
  <title>Animal Crossing!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Animal Crossing Villagers</h1>
  <p>Here's a guide on the ACNH family!</p>
</div>
<nav>
  <a href="/about">About</a>
</nav>
<%= form_with(url: search_villagers_path, method: :get, local: true) do %>
  <%= label_tag("Which Villager Would You Like to Find?:")%>
  <%= text_field_tag(:words, nil, class: "input", placeholder: "Villager Name Here!") %>
  <%= submit_tag("Search", class: "button is-primary") %>
<% end %>
    <%= yield %>
  </body>
</html>
